body{
    margin: 0;
    width: 100vw;
    /* max-width: 100vw; */
    overflow-x: hidden !important;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: black;
    background: linear-gradient(to right, rgb(37, 37, 37) 0%, rgb(27, 27, 27) 100%);
}

p{
    margin: 0;
}

.hidden{
    display: none;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 81.9% 53.5%, rgb(173, 53, 53) 16.3%, rgb(240, 60, 60) 100.2%);
    overflow: hidden;
    position: relative;
}

nav > img{
    height: 100%;
}

#search-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
}

/* #search-icon{

}

#search-input{

} */

#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;
}

.poke-type-sprite > img{
    height: 150px;
    object-fit: contain;
    right: 10px;
    position: absolute;
    bottom: 10px;
    transition: transform 225ms ease-in-out;
}

.poke-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 211px;
    max-height: 211px;
    max-height: fit-content;
    background-position-x: -80px;
    background-position-y: -160px;
    background-size: 570px;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.poke-card::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-radius: 30px;
    z-index: 1;
}

.poke-card:hover{
    box-shadow: 0 0 20px 1px var(--poke-card-shadow, #888);
}

.poke-card:hover > .poke-type-sprite > img{
    transform: scale(1.1);
}

.poke-name-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    -webkit-text-stroke: .5px black;
    z-index: 2;
}

.poke-name-id > p{
    text-transform: capitalize;
    text-shadow: 0 0 5px hsla(0, 0%, 0%, 10%);
}

.poke-type-sprite{
    padding: 15px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.poke-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
}

.poke-type{
    text-transform: capitalize;
    width: 40%;
}

.poke-type > p{
    width: 100%;
    border: 1px solid black;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
}

#poke-info-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

#poke-info-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 400px;
    background-color: white;
    z-index: 100;
    border-radius: 30px;
}

#poke-info-top{
    position: relative;
    height: 45%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.current-poke-type-sprite{
    padding: 15px;
    padding-top: 0;
}

.current-poke-type-sprite > img{
    height: 230px;
    object-fit: contain;
    position: absolute;
    z-index: 1000;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#current-poke-name-id{
    padding: 20px 60px 15px 15px;
}

#current-poke-types{
    flex-direction: row;
}

#current-poke-types > p{
    padding: 5px !important;
}

/* POKE INFO CARD BOTTOM */
#poke-info-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    z-index: 101;
    border-radius: 30px;
    background: linear-gradient(135deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 35%, rgba(68,68,68,1) 100%);
}

#info-tabs{
    display: flex;
    width: 100%;
    font-family: monospace;
    border-bottom: 1px solid black; /*vllt durch schatten ersetzen*/
}

#info-tabs > span{
    width: 33.33%;
    height: 50px;
    display: grid;
    place-items: center;
}

#info-tabs > span:hover{
    cursor: pointer;
    background-color: #444444;
}

#info-tabs > span:first-child:hover{
    border-top-left-radius: 30px;
}

#info-tabs > span:last-child:hover{
    border-top-right-radius: 30px;
}

#selected-info{
    width: 100%;
    height: calc(100% - 51px);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* MEDIA QUERRIES */
@media (max-width:450px) {
    #poke-info-card{
        width: 100%;
        height: 100%;
    }
    #poke-info-top{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #poke-info-bottom{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}



/* POKEBALL BUTTON  */
.pokeball-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transition: transform 225ms ease-in-out;
}

.pokeball-button:hover{
    transform: scale(1.1);
}

.pokeball-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background-color: red;
}

.pokeball-bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    background-color: white;
}

.pokeball-x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.pokeball-center-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.shinyBtn{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.shinyBtn img{
    width: 40px;
    height: 40px;
}

.shinyBtn:hover{
    transform: scale(1.1);
}

#pic1, #pic2{
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}


#selected-tab{
    color: #bbbbbb;
    font-size: 18px;
    font-family: monospace;
    margin-left: 15px;
    margin-right: 15px;
}

#selected-tab > *{
    margin-bottom: 15px;
}

#pokedex-entry{
    margin-top: 15px;
}

#stats-container{
    width: 100%;
    margin-top: 15px;
}

.chart-row{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.row-label{
    width: 130px;
}

.stat-bar-container {
    width: 200px;
    height: 15px;
    background-color: transparent;
    /* border: 1px solid gray; */
}

.stat-bar {
    height: 100%;
    /* background-color: green; */
    width: 0;
    transition: width 0.5s ease;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.stat-number{
    width: 35px;
}

#all-moves{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    max-height: 350px;
    gap: 15px;
    margin-top: 15px;
}

#all-moves > p{
    font-size: 14px;
    padding: 5px;
    background-color: rgba(70,70,70,1);
    border-radius: 50px;
}