/* :root{
    
} */

body{
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    
    background-color: black;
}

p{
    margin: 0;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    max-width: 100vw;
    overflow: hidden;
}

nav > img{
    height: 100%;
}

#search-container{
    display: flex;
    align-items: center;
}

#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex: 1; */
    gap: 30px;
    padding: 30px 0;
}

.poke-type-sprite > img{
    height: 150px;
    object-fit: contain;
}

.poke-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: fit-content;
    background-position-x: -70px;
    background-position-y: -180px;
    background-size: 550px;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
}

.poke-card:hover{
    box-shadow: 0 0 20px 1px var(--poke-card-shadow, #888);
}

.poke-name-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    -webkit-text-stroke: .5px black;
}

.poke-name-id > p{
    text-transform: capitalize;
    text-shadow: 0 0 5px hsla(0, 0%, 0%, 10%);
    
}

.poke-type-sprite{
    padding: 15px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poke-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
}

.poke-type{
    text-transform: capitalize;
    width: 40%;
}

.poke-type > p{
    width: 100%;
    border: 1px solid black;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
}
