body{
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    
    background-color: black;
}

p{
    margin: 0;
}

.hidden{
    display: none;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    max-width: 100vw;
    overflow: hidden;
}

nav > img{
    height: 100%;
}

#search-container{
    display: flex;
    align-items: center;
}

#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;
}

.poke-type-sprite > img{
    height: 150px;
    object-fit: contain;
    right: 10px;
    position: absolute;
    bottom: 10px;
    transition: transform 225ms ease-in-out;
}

.poke-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 211px;
    max-height: 211px;
    max-height: fit-content;
    background-position-x: -80px;
    background-position-y: -160px;
    background-size: 570px;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.poke-card::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-radius: 30px;
    z-index: 1;
}

.poke-card:hover{
    box-shadow: 0 0 20px 1px var(--poke-card-shadow, #888);
}

.poke-card:hover > .poke-type-sprite > img{
    transform: scale(1.1);
}

.poke-name-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    -webkit-text-stroke: .5px black;
    z-index: 2;
}

.poke-name-id > p{
    text-transform: capitalize;
    text-shadow: 0 0 5px hsla(0, 0%, 0%, 10%);
    
}

.poke-type-sprite{
    padding: 15px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.poke-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
}

.poke-type{
    text-transform: capitalize;
    width: 40%;
}

.poke-type > p{
    width: 100%;
    border: 1px solid black;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
}

#poke-info-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

#poke-info-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 400px;
    background-color: white;
    z-index: 100;
    border-radius: 30px;
    
}

#poke-info-top{
    position: relative;
    height: 45%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#poke-info-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    z-index: 101;
    border-radius: 30px;
    background-color: black;
}

.current-poke-type-sprite{
    padding: 15px;
    padding-top: 0;
}

.current-poke-type-sprite > img{
    height: 230px;
    object-fit: contain;
    position: absolute;
    z-index: 1000;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#current-poke-name-id{
    padding: 20px 60px 15px 15px;
}

#current-poke-types{
    flex-direction: row;
}

#close-card{
    position: absolute;
    top: 10px;
    right: 10px;
    /* border: none; */
    background-color: transparent;
    border-radius: 20px;
    height: 35px;
    width: 35px;
    color: white;
    cursor: pointer;
}

@media (max-width:450px) {
    #poke-info-card{
        width: 100%;
        height: 100%;
    }
    #poke-info-top{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #poke-info-bottom{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.pokeball-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px black;
  }
  
  .pokeball-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background-color: red;
  }
  
  .pokeball-bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    background-color: white;
  }
  
  .pokeball-x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
  }
  
  .pokeball-center-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }